<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <form>
        Enter Mobile No: <input type="text" name="cmobile"> <br>
        Enter Product ID: <input type="text" name="pid"> <br>
        Enter New Quantity: <input type="text" name="pquantity"> <br>
        Enter New Price: <input type="text" name="pprice"> <br>
        Enter Batch: <input type="text" name="pbatch"> <br>
        <button type="submit" formaction="http://127.0.0.1:5000/editprice" formmethod="post">Edit Price</button>
        <button type="submit" formaction="http://127.0.0.1:5000/editquantity" formmethod="post">Edit Quantity</button>
    </form>
</body>
</html>