<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/additem'">Add Item</button>
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/editprice'">Edit Item</button>
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/stock'">Stock</button>
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/issue'">Issue</button>
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/display'">Display Items</button>
    <button type="submit" onclick="location.href='http://127.0.0.1:5000/bill'">Show Bill</button>
</body>
</html>